[project]
	description = The beginning of an eco-disaster fiction novel.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Case Talbot (nikolawannabe)
[access "refs/for/refs/*"]
	read = group user/Case Talbot (nikolawannabe)
	push = group user/Case Talbot (nikolawannabe)
	label-Code-Review = -2..+2 group user/Case Talbot (nikolawannabe)
	label-Verified = -1..+1 group user/Case Talbot (nikolawannabe)
	rebase = group user/Case Talbot (nikolawannabe)
	removeReviewer = group user/Case Talbot (nikolawannabe)
	submit = group user/Case Talbot (nikolawannabe)
[access "refs/heads/*"]
	read = group user/Case Talbot (nikolawannabe)
	create = group user/Case Talbot (nikolawannabe)
	push = +force group user/Case Talbot (nikolawannabe)
	pushMerge = group user/Case Talbot (nikolawannabe)
[access "refs/tags/*"]
	push = +force group user/Case Talbot (nikolawannabe)
	pushTag = group user/Case Talbot (nikolawannabe)
	pushSignedTag = group user/Case Talbot (nikolawannabe)
